<div class="container ">
    <h1>Users</h1>
    <hr>
    <div class="d-flex p-2 flex-wrap">
        {{#each users}}
        <a href="/user/{{this._id}}">
            <div class="card m-4" style="width: 12rem;">
                <div class="card-img-top"
                    style="background-image:url({{this.imageUrl }}); background-size: cover; width: 12rem; height: 120px;">
                </div>

                <div class="card-body">
                    <p class="card-text">{{this.name}}</p>
                    <p class="card-text"><a href="#1">{{this.type}} | {{this.status}}</a></p>
                                    </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>