<div class="container">
    <h1>My Products</h1>
    <a href="/products/add" class="btn btn-success btn-sm">Add new Product</a>
    <hr>
    <div class="d-flex p-2 flex-wrap">
        {{#each products}}
        
            <div class="card m-4" style="width: 13rem;">
                <div class="card-img-top"
                    style="background-image:url({{this.images.[0]}}); background-size: cover; width: 12.9rem; height: 200px;">
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div> <a href="/products/perfil/{{this._id}}"><p class="card-text">{{this.name}}</a></div>
                        <i class="fas fa-heart" style="font-size: 18px;color: #999999;"></i>
                    </div>
                    <p class="card-text">{{this.category}}</p>
                    <p class="card-text"><a href="/user/{{this.owner._id}}">{{this.owner.name}}</a></p>
                </div>
            </div>
        
        {{/each}}
    </div>
</div>